header,ul {
background-color: black;
color: white;
height: 50px;
}
li {
display: inline-block;
margin-right: 15px;
margin-top: 15px;
}

a {
  text-decoration: none;
  color: white;
}
h1 {
column-span: all;
}


.p1,.p2,.p3,.p4{
  column-count: 4;
  column-gap: 15px;
  column-rule: 3px solid black;
  column-fill: auto;
  text-align:justify;
}

.footer {
  height: 50px;
 background-color: black;
 text-align: center;
 color:white;
}
