img {
width: 100%;
position: absolute;
z-index: 1;
}

.container1 {
  width: 760px;
  height: 680px;
  background-color: white;
  z-index: 2;
  position: absolute;
  margin-left: 600px;
  top: 15px;
  right: 5px;
}

h1 {
position: absolute;
background-origin: content-box;
right: 0px;
z-index: 1;

}

.pkesatu {
position: absolute;
background-origin: content-box;
right: 0px;
margin-top: 80px;
}

.pkedua {
position: absolute;
background-origin: content-box;
z-index: 2;
margin-top: 110px;
right: 0px;
width: 750px;
text-align: right;

}

.pketiga {
position: absolute;
background-origin: content-box;
z-index: 2;
margin-top: 250px;
right: 0px;
width: 750px;
text-align: right;

}

.pkeempat {
position: absolute;
background-origin: content-box;
z-index: 4;
margin-top: 390px;
right: 0px;
width: 750px;
text-align: right;

}

.pkelima {
position: absolute;
background-origin: content-box;
z-index: 2;
margin-top: 530px;
right: 0px;
width: 750px;
text-align: right;

}
